<!DOCTYPE html>
{# Find the course version #}
{% set version = course_data.configuration.course_version %}
{% if version is not defined or version is empty %}
{% set version = 1 %}
{% endif %}
{# HTML tag #}
{% include 'views/subviews/html.twig' %}

<head>
{# Head #}
{% spaceless %}
    {% include 'views/' ~ version ~ '/header.twig' %}
{% endspaceless %}
    
</head>
<body style="padding-top:0px; background-color: #f9f9f9; font-family:'Arial'" id="course-controller">
{% spaceless %}
    {% include 'views/subviews/lmsmenu.twig' %}
    {# Shell #}
    {% include 'views/' ~ version ~ '/shell.twig' %}
    {# Footer #}
    {% include 'views/' ~ version ~ '/footer.twig' %}
{% endspaceless %}
    
</body>
</html>